/* Dasar */
body {
    margin: 0;
    padding: 0;
    /* Menggunakan font monospace agar terlihat seperti terminal */
    font-family: 'Courier New', Courier, monospace;
    background: #0a0a0a; /* Hitam pekat */
    background-image: linear-gradient(rgba(0, 255, 65, 0.05) 1px, transparent 1px),
                      linear-gradient(90deg, rgba(0, 255, 65, 0.05) 1px, transparent 1px);
    background-size: 20px 20px; /* Efek grid digital */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Kotak Login */
.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.login-box {
    background: #111; /* Abu-abu sangat gelap */
    padding: 40px;
    border-radius: 5px; /* Siku lebih tajam lebih berkesan industrial */
    border: 1px solid #00ff41; /* Border hijau neon */
    box-shadow: 0 0 20px rgba(0, 255, 65, 0.2);
    text-align: center;
}

h2 {
    color: #00ff41; /* Hijau Matrix */
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    color: #008f11; /* Hijau gelap */
    font-size: 14px;
    margin-bottom: 30px;
}

/* Input */
.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    background: #000;
    border: 1px solid #008f11;
    border-radius: 4px;
    color: #00ff41; /* Tulisan saat mengetik jadi hijau */
    box-sizing: border-box;
    outline: none;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: #00ff41;
    box-shadow: 0 0 10px rgba(0, 255, 65, 0.5);
}

/* Placeholder warna hijau redup */
.input-group input::placeholder {
    color: #004400;
}

/* Tombol */
button {
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 1px solid #00ff41;
    border-radius: 4px;
    color: #00ff41;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #00ff41;
    color: #000;
    box-shadow: 0 0 20px rgba(0, 255, 65, 0.6);
}

.footer {
    margin-top: 20px;
    font-size: 12px;
    color: #004400;
}

